$color_1: black;
$color_2: #1466ff;
$color_3: white;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Roboto';
$font-family_3: 'Dancing Script', cursive;
$background-color_1: rgb(230, 230, 230);
$background-color_2: rgb(13, 12, 12);
$background-color_3: rgb(245, 245, 245);

$gran-pantalla: True;

$botones:(
    normal: rgb(2, 114, 250),
    ofertas: rgb(250, 2, 64),
    nuevo: rgb(35, 202, 57)
);

$estilos:(
    alineacion: center,
    font-size: 20px,
    color: #24303c,

);