* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

h1 {
  font-size: 7.5em; }

h2 {
  font-size: 6.1em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

ul {
  list-style: none; }

li {
  font-size: 1.85em; }

ol {
  list-style: none; }

.nav a {
  font-size: 1.1em; }

header {
  background-color: #e6e6e6;
  z-index: 9999;
  position: fixed;
  width: 100%;
  margin: auto; }
  header .logo {
    margin: 0;
    padding: 0; }
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .navbar-nav a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #24303c;
    font-family: "Roboto";
    margin-right: 15px; }
    header .navbar-nav a:hover {
      color: #1466ff; }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px; }

.logo {
  height: 100px; }

.nav-item {
  font-size: 25px;
  transition: transform 0.3s; }
  .nav-item:hover {
    transform: scale(1.3); }

.dropdown-item {
  font-size: 20px; }
  .dropdown-item:hover {
    color: #1466ff; }

.suerytex-logo {
  height: 100px; }

footer {
  background-color: #24303c;
  height: auto;
  color: white; }

.grupos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }

.red-social img {
  height: 50px;
  width: 55px;
  margin: 20px;
  align-items: center;
  text-align: center;
  transition: transform 0.3s; }
  .red-social img:hover {
    transform: scale(1.2); }

.icono-suerytex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }
  .icono-suerytex img {
    margin-top: auto;
    height: 210px;
    width: 350px;
    margin-right: 30px;
    transition: transform 0.3s; }
    .icono-suerytex img:hover {
      transform: scale(1.35); }

.box input {
  border: 2px solid #1466ff;
  color: white;
  border-radius: 3px;
  background-color: #24303c; }

@media screen and (min-width: 220px) and (max-width: 600px) {
  .nav-item {
    font-size: 25px;
    transition: transform 0.3s; }
    .nav-item:hover {
      transform: scale(1.1); }
  .icono-suerytex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 15px; }
    .icono-suerytex img {
      margin-top: auto;
      height: 100px;
      width: 200px; }
  .grupos {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center; }
  body {
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 100vh; }
  footer {
    height: auto;
    width: 100%; } }

@media screen and (min-width: 510px) and (max-width: 760px) {
  .nav-item {
    font-size: 25px;
    transition: transform 0.3s; }
    .nav-item:hover {
      transform: scale(1.2); }
  footer {
    height: auto; }
  .icono-suerytex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto; }
    .icono-suerytex img {
      margin: auto;
      height: 100px;
      width: 200px; }
  .grupos {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center; }
  body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; }
  #inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 94vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://1.bp.blogspot.com/-cT8WkrpiooY/XzILTB46hwI/AAAAAAADJyA/8i9FoE6sy48AyOaYshUEL6Huyjtzw5RyACLcBGAsYHQ/d/rollos-de-textiles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }

@media screen and (min-width: 1000px) and (max-width: 2550px) {
  footer {
    height: auto;
    width: 100%;
    margin-top: auto; }
  body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; }
  .grupos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center; }
  .icono-suerytex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto; }
    .icono-suerytex img {
      margin: auto;
      height: 185px;
      width: 300px; } }

#inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 99vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://1.bp.blogspot.com/-cT8WkrpiooY/XzILTB46hwI/AAAAAAADJyA/8i9FoE6sy48AyOaYshUEL6Huyjtzw5RyACLcBGAsYHQ/d/rollos-de-textiles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #inicio h1 {
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 100px; }
  #inicio a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 1.9em;
    font-family: "Dancing Script", cursive; }
    #inicio a:hover {
      color: #1466ff; }

#sobre-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  #sobre-nosotros h2 {
    font-size: 2.5em; }

.foto-contenedor {
  height: 80%;
  width: 100%; }

@media screen and (min-width: 220px) and (max-width: 660px) {
  #inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 94vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://1.bp.blogspot.com/-cT8WkrpiooY/XzILTB46hwI/AAAAAAADJyA/8i9FoE6sy48AyOaYshUEL6Huyjtzw5RyACLcBGAsYHQ/d/rollos-de-textiles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; } }

main {
  height: auto;
  background-color: #e6e6e6; }

#productos {
  width: 100%;
  height: 1400px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: #e6e6e6; }

.cartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px 600px;
  margin: auto; }

.card {
  margin: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 700px;
  border: 2px solid black; }

.card-body {
  height: 230px;
  font-size: 15px; }

@media screen and (min-width: 760px) and (max-width: 1400px) {
  body {
    height: 100%;
    width: 100%; }
  #productos {
    width: auto;
    height: 100%;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: whitesmoke; }
  .cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto); }
  .card {
    margin-bottom: 30px;
    width: 220px; }
  .card-body {
    height: 230px; } }

@media screen and (min-width: 500px) and (max-width: 760px) {
  body {
    height: 100%;
    width: 100%; }
  #productos {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 470px 470px 470px; }
  .card {
    margin-bottom: 30px;
    width: 220px; }
  .card-body {
    height: 230px; } }

#nuevos-productos {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: #e6e6e6; }

.cartas-nuevas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px;
  margin: auto; }

#ofertas-productos {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: #e6e6e6; }

.cartas-en-ofertas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px;
  margin: auto; }

@media screen and (min-width: 220px) and (max-width: 500px) {
  body {
    height: 100%;
    width: 100%; }
  #productos {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 600px); }
  .card {
    width: 250px;
    height: auto;
    margin-bottom: 30px; }
  .card-body {
    height: 230px;
    font-size: 13px; }
  #nuevos-productos {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas-nuevas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 600px); }
  #ofertas-productos {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas-en-ofertas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 600px); } }

@media screen and (min-width: 500px) and (max-width: 1200px) {
  body {
    height: 100%;
    width: 100%; }
  #nuevos-productos {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas-nuevas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 670px 670px; }
  .card {
    margin-bottom: 30px;
    width: 280px; }
  #ofertas-productos {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #e6e6e6; }
  .cartas-en-ofertas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px 650px; } }

#form-comentarios {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24303c;
  margin-bottom: 15px; }

.coments {
  z-index: 9999;
  color: white;
  text-align: center;
  font-size: 3em; }

#comentario-area {
  background-color: #24303c;
  color: white;
  border: 2px solid #1466ff; }

.form {
  height: auto;
  width: 100%;
  padding: 120px;
  border-radius: 10px;
  background-color: #24303c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 130px; }
  .form label {
    font-weight: bold; }
  .form input {
    width: 95%;
    height: 50px;
    padding: 3px 10px;
    font-size: 2rem;
    border: 2px solid #1466ff;
    color: white;
    border-radius: 3px;
    background-color: #24303c;
    margin: 8px 0;
    display: inline-block;
    transition: transform 0.3s; }
    .form input:focus {
      transform: scale(1.1); }

#submit:hover {
  color: #1466ff;
  border: 2px solid white; }

@media screen and (min-width: 220px) and (max-width: 600px) {
  #form-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 385px;
    height: 1150px; }
  .form {
    padding: 200px 0;
    border-radius: 10px;
    background-color: #24303c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 130px; }
    .form label {
      font-weight: bold; }
    .form input {
      width: 95%;
      height: 50px;
      padding: 3px 10px;
      font-size: 2rem;
      border: 2px solid #1466ff;
      color: white;
      border-radius: 3px;
      background-color: #24303c;
      margin: 8px 0;
      display: inline-block;
      transition: transform 0.3s; }
      .form input:focus {
        transform: scale(1.02); } }

.btn--normal {
  background-color: #0272fa;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: auto;
  border: none;
  transition: transform 0.2s; }
  .btn--normal:hover {
    color: white;
    transform: scale(1.1); }

.btn--ofertas {
  background-color: #fa0240;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: auto;
  border: none;
  transition: transform 0.2s; }
  .btn--ofertas:hover {
    color: white;
    transform: scale(1.1); }

.btn--nuevo {
  background-color: #23ca39;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: auto;
  border: none;
  transition: transform 0.2s; }
  .btn--nuevo:hover {
    color: white;
    transform: scale(1.1); }
